.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
eslint.config.mjs
**/*.map
**/*.ts
node_modules/**
out/test/**
coverage/**
**/*.log
**/*.vsix
!package.nls.json
!i18n/**
